<h1>Skate Park</h1>

<div class="py-4">
	<h2>Registro</h2>
	<hr class="w-50" />

	<form id="form" method="post" action="signup/skater" enctype="multipart/form-data">
		<div class="form-group row w-50 m-auto">
			<div class="form-group col-12 col-sm-6">
				<label for="email">Email:</label><br />
				<input type="email" name="email" placeholder="asd@asd.com" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="fname">Nombre:</label><br />
				<input type="text" name="fname" placeholder="John" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="lname">Apellido:</label><br />
				<input type="text" name="lname" placeholder="Smith" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="password_01">Password:</label><br />
				<input type="password" name="password_01" placeholder="****" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="password_02">Repita la password:</label><br />
				<input type="password" name="password_02" placeholder="****" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="experience">Años de experiencia:</label><br />
				<input type="number" name="experience" placeholder="05" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="speciality">Especialidad:</label><br />
				<input type="text" name="speciality" placeholder="Kickflip" class="form-control m-auto" required/>
			</div>
			<div class="form-group col-12 col-sm-12">
				<label>Foto de perfil</label>
				<input type="file" name="img" required />
			</div>
			<div class="mb-3 form-check">
				<input
					type="checkbox"
					name="politicas"
					class="form-check-input"
					id="exampleCheck1"
					required
				/>
				<label class="form-check-label" for="exampleCheck1">Políticas de uso</label>
			</div>
		</div>
		<button id="button" type="submit" class="btn btn-info mb-3">Registrarme</button>
	</form>
</div>

<script>
	const form = document.getElementById("form");
	form.addEventListener("submit",async (e)=>{
		e.preventDefault();
		const password_01 = form.elements["password_01"].value;
		const password_02 = form.elements["password_02"].value;
		if(password_01!=password_02){
			alert("Las contraseñas no coinciden, intente nuevamente.");
		}else{
			form.submit();
		}
	})
</script>