<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SkatePark</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{{#unless registered}}
				<a class="nav-link active" aria-current="page" href="/signup">Registrarse</a>
				<a class="nav-link" href="/login">Ingresar</a>
				{{/unless}}
					{{#if skater}}
					<a class="nav-link" href="/editAccount/skater/2">Editar cuenta [Skater]</a>
					{{else}}
					<a class="nav-link" href="/editAccount/intranet/2">Editar cuenta [Intranet]</a>
					{{/if}}
			</div>
            <div><a class="nav-link" href="/intranet">Intranet</a></div>
		</div>
	</div>
</nav>